<section class="partners-banner">
  <h3 class="text-center">Now Accepting</h3>
  <div class="scroll-wrapper">
    <div class="logo-container">
      <!-- First set of logos -->
      {{ range .Site.Params.partners }}
        {{ if .enabled }}
          <div title="{{ .name }}">
            <img src="{{ .logo }}" alt="{{ .name }} logo">
          </div>
        {{ end }}
      {{ end }}
      
      <!-- Duplicate set for seamless loop -->
      {{ range .Site.Params.partners }}
        {{ if .enabled }}
          <div title="{{ .name }}">
            <img src="{{ .logo }}" alt="{{ .name }} logo">
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>